@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.RemoteMonitoring>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<!DOCTYPE HTML>

		<!-- Jumbotron, w title -->
		<div class="jumbotron text-center jumbotron-fluid">
			<div class="container">
				<h1>@Model.Value("remoteMonitoringTitle")</h1>
				<p>Improve your quality of life, maintain your independence, prevent complications, and minimize personal costs with our telecommunication care.</p>
			</div>
		</div>

		<!-- Main container -->

		<!-- Blogpost meta data -->
		<div class="container-fluid grey-bg">
			<div class="container">
				<div class="row section">
					<div class="col-md-6">
						<div class="meta-author media p-3">
							<div class="media-body">
							    <h3>Direct Support Services</h3>
								<p>At 1st Choice Family Services, you’re the boss. Every single service is designed to give you the perfect balance of support and independence.</p>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row section">
					<div class="col-md-6">
						<div class="meta-author media p-3">
							<div class="media-body">
							    <h3>Remote Monitoring</h3>
								<p>Remote monitoring services help you stay safe at all times while maintaining independence.</p>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row section">
					<div class="col-md-6">
						<div class="meta-author media p-3">
							<div class="media-body">
							    <h3>Covid Rapid Response Team</h3>
								<p>Stay safe and protected even during a pandemic with our quick response team.</p>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row section">
				    <div class="col-md-6">
				        <div class="meta-author media p-3">
				            <ul id="myUL">
				                <li>
				                    <a href="#">Allen County, OH</a>
				                </li>
				                <li>
				                    <a href="#">Adams County, OH</a>
				                </li>
				                <li>
				                    <a href="#">Allen County, OH</a>
				                </li>
				                <li>
				                    <a href="#">Ashland County, OH</a>
				                </li>
				                <li>
				                    <a href="#">Ashtabula County, OH</a>
				                </li>
				                <li>
				                    <a href="#">Athens County, OH</a>
				                    </li><li><a href="#">Auglaize County, OH</a>
				                    </li><li><a href="#">Belmont County, OH</a>
				                    </li><li><a href="#">Brown County, OH</a>
				                    </li><li><a href="#">Butler County, OH</a>
				                    </li><li><a href="#">Carroll County, OH</a>
				                    </li><li><a href="#">Champaign County, OH</a>
				                    </li><li><a href="#">Clark County, OH</a>
				                    </li><li><a href="#">Clermont County, OH</a>
				                    </li><li><a href="#">Clinton County, OH</a>
				                    </li><li><a href="#">Columbiana County, OH</a>
				                    </li><li><a href="#">Coshocton County, OH</a>
				                    </li><li><a href="#">Crawford County, OH</a>
				                    </li><li><a href="#">Cuyahoga County, OH</a>
				                    </li><li><a href="#">Darke County, OH</a>
				                    </li><li><a href="#">Defiance County, OH</a>
				                    </li><li><a href="#">Delaware County, OH</a>
				                    </li><li><a href="#">Erie County, OH</a>
				                    </li><li><a href="#">Fairfield County, OH</a>
				                    </li><li><a href="#">Fayette County, OH</a>
				                    </li><li><a href="#">Franklin County, OH</a>
				                    </li><li><a href="#">Fulton County, OH</a>
				                    </li><li><a href="#">Gallia County, OH</a>
				                    </li><li><a href="#">Geauga County, OH</a>
				                    </li><li><a href="#">Greene County, OH</a>
				                    </li><li><a href="#">Guernsey County, OH</a>
				                    </li><li><a href="#">Hamilton County, OH</a>
				                    </li><li><a href="#">Hancock County, OH</a>
				                    </li><li><a href="#">Hardin County, OH</a>
				                    </li><li><a href="#">Harrison County, OH</a>
				                    </li><li><a href="#">Henry County, OH</a>
				                    </li><li><a href="#">Highland County, OH</a>
				                    </li><li><a href="#">Hocking County, OH</a>
				                    </li><li><a href="#">Holmes County, OH</a>
				                    </li><li><a href="#">Huron County, OH</a>
				                    </li><li><a href="#">Jackson County, OH</a>
				                    </li><li><a href="#">Jefferson County, OH</a>
				                    </li><li><a href="#">Knox County, OH</a>
				                    </li><li><a href="#">Lake County, OH</a>
				                    </li><li><a href="#">Lawrence County, OH</a>
				                    </li><li><a href="#">Licking County, OH</a>
				                    </li><li><a href="#">Logan County, OH</a>
				                    </li><li><a href="#">Lorain County, OH</a>
				                    </li><li><a href="#">Lucas County, OH</a>
				                    </li><li><a href="#">Madison County, OH</a>
				                    </li><li><a href="#">Mahoning County, OH</a>
				                    </li><li><a href="#">Marion County, OH</a>
				                    </li><li><a href="#">Medina County, OH</a>
				                    </li><li><a href="#">Meigs County, OH</a>
				                    </li><li><a href="#">Mercer County, OH</a>
				                    </li><li><a href="#">Miami County, OH</a>
				                    </li><li><a href="#">Monroe County, OH</a>
				                    </li><li><a href="#">Montgomery County, OH</a>
				                    </li><li><a href="#">Morgan County, OH</a>
				                    </li><li><a href="#">Morrow County, OH</a>
				                    </li><li><a href="#">Muskingum County, OH</a>
				                    </li><li><a href="#">Noble County, OH</a>
				                    </li><li><a href="#">Ottawa County, OH</a>
				                    </li><li><a href="#">Paulding County, OH</a>
				                    </li><li><a href="#">Perry County, OH</a>
				                    </li><li><a href="#">Pickaway County, OH</a>
				                    </li><li><a href="#">Pike County, OH</a>
				                    </li><li><a href="#">Portage County, OH</a>
				                    </li><li><a href="#">Preble County, OH</a>
				                    </li><li><a href="#">Putnam County, OH</a>
				                    </li><li><a href="#">Richland County, OH</a>
				                    </li><li><a href="#">Ross County, OH</a>
				                    </li><li><a href="#">Sandusky County, OH</a>
				                    </li><li><a href="#">Scioto County, OH</a>
				                    </li><li><a href="#">Seneca County, OH</a>
				                    </li><li><a href="#">Shelby County, OH</a>
				                    </li><li><a href="#">Stark County, OH</a>
				                    </li><li><a href="#">Summit County, OH</a>
				                    </li><li><a href="#">Trumbull County, OH</a>
				                    </li><li><a href="#">Tuscarawas County, OH</a>
				                    </li><li><a href="#">Union County, OH</a>
				                    </li><li><a href="#">Van Wert County, OH</a>
				                    </li><li><a href="#">Warren County, OH</a>
				                    </li><li><a href="#">Washington County, OH</a>
				                    </li><li><a href="#">Wayne County, OH</a>
				                    </li><li><a href="#">Williams County, OH</a>
				                    </li><li><a href="#">Wood County, OH</a>
				                    </li><li><a href="#">Wyandot County, OH</a>
				                </li>
				            </ul>
				         </div>
				    </div>
				</div>
				
				<div class="row section">
					<div class="col-md-6">
						<div class="meta-author media p-3">
							<div class="media-body">
								<p>Our remote monitoring is the perfect solution for our developmentally disabled clients that need to keep themself secure while maintaining their lifestyle and overall independence.
With remote monitoring, you can receive 24/7 personal care from a distance with us.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>