/* ---------- FONTS ---------- */

* {
    font-family: 'Lato', Roboto, sans-serif;
}

h2 {
    margin-bottom:20px;
}

p {
    margin: 0 0 20px;
}

/* ---------- BUTTONS ---------- */

.btn-primary {
    background-color: rgba(53, 68, 177, 1);
    padding: .7rem 1.5rem;
    border-radius: 3px;
    border: 2px rgba(53, 68, 177, 1) solid;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: rgba(53, 68, 177, .8);
    border: 2px rgba(53, 68, 177, .8) solid;
}

.btn-inverted {
    background-color:white;
    border: 2px #3544b1 solid;
    color: #3544b1;
    border-radius: 3px;
    padding: .7rem 1.5rem;
}

.btn-inverted:hover, .btn-inverted:focus {
    background-color: #3544b1;
    color: white;
}

.btn-inverted-orange {
    background-color: white;
    border: 2px solid rgba(247, 156, 55, 1);
    padding: .7rem 1.5rem;
    color: rgba(247, 156, 55, 1);
    font-weight: bolder;
}

.btn-inverted-orange:hover, .btn-inverted-orange:focus {
    background-color: rgba(247, 156, 55, 1);
    color: white;
}

/* ---------- Structure ---------- */

.section {
    padding: 50px 0;
}

.section .section {
    padding: 30px 0;
}

/* ---------- JUMBOTRON ---------- */

.jumbotron {
    background-color:rgba(16, 31, 60, 1);
    margin-bottom: 0;
    color:white;
}

/* ---------- NAVBAR ---------- */
.navbar-light .navbar-brand {
    color:#101f3c;
}

.navbar-brand {
    margin-right:30px;
}

.navbar-light .navbar-nav .nav-link {
    color:rgba(16, 31, 60, .8);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color:rgba(16, 31, 60, 1);
}

.navbar-light .navbar-nav .nav-link.active {
    color:rgba(16, 31, 60, 1);
    font-weight: bold;
}

.navbar-expand .navbar-nav .nav-link {
    padding-right: 2rem;
    padding-left: 2rem;
}

/* ---------- MAIN CONTAINER ---------- */

p a {
    color:#3544b1;
}

p a:hover, p a:focus {
    color: rgba(53, 68, 177, 0.8);
}

.grey-bg {
    background-color:#F9F7F4;
}

.orange-bg {
    background-color: rgba(247, 156, 55, .8);
    color: white;
}

/* ---------- BLOG on Homepage ---------- */

.blog-promoImage {
    width:100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    margin-bottom:20px;
    border-radius: 3px; 
}

.box-blog {
    padding-top: 50px;
    height:500px;
}

.box-blog .blog-meta {
    font-style: italic;
    color: rgba(0, 0, 0, .7);
    font-size: 13px;
}

.blog-box-btn {
    margin-bottom:10px;
}

@media (max-width: 992px) {
    .box-blog {
        height:600px;
    }
}

@media (max-width: 768px) {
    .box-blog {
        height:450px;
    }
}

/* ---------- ContantPage ---------- */

.sidebar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar-links li {
    line-height: 40px;
    font-size: 18px;
}

.sidebar-links h4 {
    margin-bottom: 20px;
}

.sidebar-links li a {
    color:#3544b1;
}

.sidebar-links li a:hover, .sidebar-links li a:focus {
    color: rgba(53, 68, 177, 0.8);
    text-decoration: none;
}

/* ---------- BLOG ---------- */

a.featured-link {
    color: #212529
}

a.featured-link:hover, a.featured-link:focus {
    text-decoration: none;
}

.featured-blog .image-box {
    width:100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    margin-bottom:20px;
    border-radius: 3px; 
}

.thumbnail-blog {
    padding-bottom: 5px;
    border-bottom: rgba(53, 68, 177, 1) solid 2px;
    margin-bottom: 35px;
    transition: ease .5s;
}

.thumbnail-blog h5 {
    font-weight: 700;
}

.thumbnail-blog .thumbnail-img {
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    margin-bottom: 10px;
    border-radius: 3px;
    transition: ease .5s;
}

a.featured-link:hover .thumbnail-blog {
    border-bottom: #f79c37 solid 2px;
}

a.featured-link:hover .thumbnail-blog .thumbnail-img {
    opacity: .6;
}

/* ---------- BLOGPOST ---------- */

.intro {
    font-size: 125%;
    color: rgba(16, 31, 60, 1);
    margin-bottom: 30px;
    border-bottom:  #f79c37 solid 2px;
}

.meta-author.p-3 {
    padding: 0 !important;
}

.meta-meta a {
    color:#3544b1;
}

.meta-meta a:hover, .meta-meta a:focus {
    color: rgba(53, 68, 177, 0.8);
    text-decoration: none;
}

.blog-related {
    color:rgba(16, 31, 60, 1);
}

.blog-related h4 {
    text-decoration: underline;
}

.blog-related a {
    color:rgba(16, 31, 60, 1);
}

.blog-related a:hover, .blog-related a:focus {
    color:black;
    text-decoration: none;
}

/* ---------- CONTENTPAGE 2 ---------- */

div.teammember {
    line-height: 32px;
    font-size: 15px;
    margin-bottom: 100px;
}

/* ---------- FOOTER ---------- */

.footer {
    background-color:#1b264f;
    color: white;
}

.footer h4 {
    margin-bottom: 20px;
}

ul.footer-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.footer-links li {
    line-height: 32px;
}

ul.footer-links li a {
    text-decoration: none;
    color: rgba(255, 255, 255, .7);
}

ul.footer-links li a:hover, ul.footer-links li a:focus {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

.footer img {
    width:30%;
}

/* ---------- STYLE FOR GRID EDITOR ---------- */

.grid-section .img-fluid img {
    max-width: 100%;
    height: auto;
}


/*--------------BLOGS STYLE------*/

.card {
    background: #fff;
    transition: .5s;
    border: 0;
    margin-bottom: 30px;
    border-radius: .55rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}
.card .body {
    color: #444;
    padding: 20px;
    font-weight: 400;
}
.card .header {
    color: #444;
    padding: 20px;
    position: relative;
    box-shadow: none;
}
.single_post {
    -webkit-transition: all .4s ease;
    transition: all .4s ease
}

.single_post .body {
    padding: 30px
}

.single_post .img-post {
    position: relative;
    overflow: hidden;
    max-height: 500px;
    margin-bottom: 30px
}

.single_post .img-post>img {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: -webkit-transform .4s ease, opacity .4s ease;
    transition: transform .4s ease, opacity .4s ease;
    max-width: 100%;
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01)
}

.single_post .img-post:hover img {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    opacity: .7;
    filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-transition: all .8s ease-in-out
}

.single_post .img-post:hover .social_share {
    display: block
}

.single_post .post_footer {
    padding: 0 30px 30px 30px
}

.single_post .post_footer .actions {
    display: inline-block
}

.single_post .post_footer .stats {
    cursor: default;
    list-style: none;
    padding: 0;
    display: inline-block;
    float: right;
    margin: 0;
    line-height: 35px
}

.single_post .post_footer .stats li {
    border-left: solid 1px rgba(160, 160, 160, 0.3);
    display: inline-block;
    font-weight: 400;
    letter-spacing: 0.25em;
    line-height: 1;
    margin: 0 0 0 2em;
    padding: 0 0 0 2em;
    text-transform: uppercase;
    font-size: 13px
}

.single_post .post_footer .stats li a {
    color: #777
}

.single_post .post_footer .stats li:first-child {
    border-left: 0;
    margin-left: 0;
    padding-left: 0
}

.single_post h3 {
    font-size: 20px;
    text-transform: uppercase
}

.single_post h3 a {
    color: #242424;
    text-decoration: none
}

.single_post p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    margin: 0
}

.single_post .blockquote p {
    margin-top: 0 !important
}

.single_post .meta {
    list-style: none;
    padding: 0;
    margin: 0
}

.single_post .meta li {
    display: inline-block;
    margin-right: 15px
}

.single_post .meta li a {
    font-style: italic;
    color: #959595;
    text-decoration: none;
    font-size: 12px
}

.single_post .meta li a i {
    margin-right: 6px;
    font-size: 12px
}

.single_post2 {
    overflow: hidden
}

.single_post2 .content {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 80px;
    position: relative
}

.single_post2 .content .actions_sidebar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 60px
}

.single_post2 .content .actions_sidebar a {
    display: inline-block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    margin-right: 0;
    text-align: center;
    border-right: 1px solid #e4eaec
}

.single_post2 .content .title {
    font-weight: 100
}

.single_post2 .content .text {
    font-size: 15px
}

.right-box .categories-clouds li {
    display: inline-block;
    margin-bottom: 5px
}

.right-box .categories-clouds li a {
    display: block;
    border: 1px solid;
    padding: 6px 10px;
    border-radius: 3px
}

.right-box .instagram-plugin {
    overflow: hidden
}

.right-box .instagram-plugin li {
    float: left;
    overflow: hidden;
    border: 1px solid #fff
}

.comment-reply li {
    margin-bottom: 15px
}

.comment-reply li:last-child {
    margin-bottom: none
}

.comment-reply li h5 {
    font-size: 18px
}

.comment-reply li p {
    margin-bottom: 0px;
    font-size: 15px;
    color: #777
}

.comment-reply .list-inline li {
    display: inline-block;
    margin: 0;
    padding-right: 20px
}

.comment-reply .list-inline li a {
    font-size: 13px
}

@media (max-width: 640px) {
    .blog-page .left-box .single-comment-box>ul>li {
        padding: 25px 0
    }
    .blog-page .left-box .single-comment-box ul li .icon-box {
        display: inline-block
    }
    .blog-page .left-box .single-comment-box ul li .text-box {
        display: block;
        padding-left: 0;
        margin-top: 10px
    }
    .blog-page .single_post .post_footer .stats {
        float: none;
        margin-top: 10px
    }
    .blog-page .single_post .body,
    .blog-page .single_post .post_footer {
        padding: 30px
    }
}